.risks-card-component{
  .donuts-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 24px 0 0;

    .donut {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 4px 0 0;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}