.App {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  color: #1E2A34;

  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }

  h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 10px;
  }

  .circle {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #B4B3BD;
    display: inline-block;
    margin-left: 8px;
  }

  .good {
    background-color: #43C79F;
  }

  .normal {
    background-color: #FFAF02;
  }

  .bad {
    background-color: #D03047;
  }

  .app-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0 20px;

    .info-cell {
      box-sizing: border-box;
      border: 1px solid #DCDAEB;
      border-radius: 15px;
      padding: 16px;
    }

    & > .header-cell {
      padding: 20px 0;
    }

    .condition-grid {
      display: grid;
      grid-gap: 20px 0;
    }

    .stats-grid {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }

    .competition-grid {
      display: grid;
      grid-gap: 20px 0;
    }
  }
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../../fonts/MuseoSansLight.eot');
  src: local('Museo Sans Cyrl'),
  url('../../fonts/MuseoSansLight.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MuseoSansLight.woff') format('woff'),
  url('../../fonts/MuseoSansLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../../fonts/MuseoSansRegular.eot');
  src: local('Museo Sans Cyrl'),
  url('../../fonts/MuseoSansRegular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MuseoSansRegular.woff') format('woff'),
  url('../../fonts/MuseoSansRegular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../../fonts/MuseoSansMedium.eot');
  src: local('Museo Sans Cyrl'),
  url('../../fonts/MuseoSansMedium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MuseoSansMedium.woff') format('woff'),
  url('../../fonts/MuseoSansMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../../fonts/MuseoSansBold.eot');
  src: local('Museo Sans Cyrl'),
  url('../../fonts/MuseoSansBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MuseoSansBold.woff') format('woff'),
  url('../../fonts/MuseoSansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../../fonts/MuseoSansBlack.eot');
  src: local('Museo Sans Cyrl'),
  url('../../fonts/MuseoSansBlack.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MuseoSansBlack.woff') format('woff'),
  url('../../fonts/MuseoSansBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
